:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  /* Add styling for your links */
  text-decoration: none;
  color: #333;
  padding: 10px;
}